<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>标题</title>
    <link rel="stylesheet" href="./css/style.css" />
    <link rel="stylesheet" href="./css/element.css" />
    <link rel="stylesheet" href="./css/head.css" />
    <link rel="stylesheet" href="./css/ic_party_life.css" />
    <!-- <link rel="stylesheet" href="./css/ic_party_list.css" /> -->
    <!-- professionlist -->
    <style>
        [v-cloak]{
          display: none;
        }
        .page{
        margin:60px auto;
        /* padding:0 460px; */
      }
      </style>
</head>
<body>
    <div id="app" v-cloak>
        <div>
          <!-- 顶部导航 -->
          <div class="home_nav_top">
            <div class="container_1200 row_flex al_flex be_flex ">
              <div class="home_nav_top_left">
                <img v-cloak :src="headerLogo.data_img" alt="" />
              </div>
              <div class="row_flex ar_flex end_flex al_flex ">
                  <!-- 导航栏 -->
                  <div v-for="(value,index) of linkItems.children" :key="index">
                      <a v-if="value.target_id1=='0'" class="nav_top_item"  href="../../../../pc/index.html">
                          {{value.navigation_name}}
                      </a>
                      <a v-else class="nav_top_item"  :href=`school.html?target_id1=${value.target_id1}`>
                          {{value.navigation_name}}
                      </a>
                  </div>
              </div>
            </div>
          </div>
          <div class="bg_banner img_flex">
            <img class="bg_banner_img" :src="bannerUrl.event_img" alt="" />
          </div>
           <!-- 内容 -->
        <div class="container_1200 p_margin">
            <div class="news_tittle">
                <div class="pro_lists_tit major_title">
                    <a v-if="resBody.column_type=='column_3'" :href="`school.html?target_id1=${resPody.column_pid}`" class="school_index">
                        <span class=" color_tit color_tit1">{{resPody.column_pid_name}}</span><span class="school_m">/</span>
                    </a>
                    
                    <a v-if="resBody.column_type=='column_2'" :href="`school.html?target_id1=${resBody.column_pid}`" class="school_index">
                        <span class=" color_tit color_tit1">{{resBody.column_pid_name}}</span><span class="school_m">/</span>
                    </a>
    
                    <!-- <a v-if="resBody.column_type=='column_4'" :href="`school.html?target_id1=${resPody.column_pid}`" class="school_index">
                        <span class=" color_tit color_tit1">{{resPody.column_pid_name}}</span><span class="school_m">/</span>
                      </a> -->
                    <a v-if="resPody.column_type=='column_2'" :href="`third_column.html?column_id=${resBody.column_pid}`" class="school_index">
                      <span class=" color_tit color_tit1">{{resBody.column_pid_name}}</span><span class="school_m">/</span>
                    </a>
                    <a class="major_color">
                      <span >{{resBody.column_name}}</span>  
                    </a>
                  </div>
            </div>

            <div class="row_flex st_flex al_flex wr_flex p_c_m">
              <a v-for="(value,index) of list" :href=`NewsInfo.html?column_id=${value.column_id}&article_id=${value.article_id}` :key="index"  class="party_item">
                <span class="part_tit">
                  {{value.article_name}}
                </span>
              </a> 
          </div>
          <!--分页-->
          <div class="page row_flex cen_flex">
            <div class="block">
              <el-pagination
              @size-change="handleSizeChange"   
              @current-change="handleCurrentChange"
              :current-page="currentPage"
              :page-sizes="[15,30]"
              :page-size="pageSize"
              layout="total, sizes, prev, pager, next, jumper"
              :total="total"
            >
              </el-pagination>
            </div>
          </div>
        </div>
  
          <!-- 页底 -->
          <div class="page_foot">
            <footer>
              <div class="container_1200 row_flex be_flex al_flex">
                <div class="col_flex be_flex">
                  <div class="row_flex ">
                    <div class="col_flex wr_flex foot_nav ">
                      <!-- 底部左侧导航 -->
                        <!-- <a v-for="(v,i) of resFooter.linkItems" :key="i" href="#" class="foot_top_item" >{{v.navigation_name}}</a> -->
                        <a v-for="(value,index) of resFooter.linkItems" :key="index" class="foot_top_item" :href=`school.html?target_id1=${value.target_id1}`>
                          {{value.navigation_name}}
                      </a>
                    </div>
                    <div class="col_flex wr_flex foot_info ">
                      <a class="foot_top_item">{{resFooter.enrollment_link.data_name}} : {{resFooter.enrollment_link.data_remark}}</a>
                      <a class="foot_top_item">{{resFooter.professional_consultation.data_name}} : {{resFooter.professional_consultation.data_remark}}</a>
                      <a class="foot_top_item">
                          {{resFooter.copyright.data_name}} : {{resFooter.copyright.data_remark}}
                      </a>
                      <a class="foot_top_item">
                          {{resFooter.address.data_name}} : {{resFooter.address.data_remark}}
                      </a>
                    </div>
                  </div>
                  <div class="school_addr">
                      <!--底部学校介绍 -->
                      {{resFooter.school_introduction.data_remark}}
                  </div>
                </div>
                <div><img :src="resFooter.logo2.data_img" alt="" /></div>
              </div>
            </footer>
          </div>
        </div>
      </div>


   <!-- 引入js -->
    <!-- <script src="./addJs/data.js"></script> -->
    <script src="./publicJs/pub.js"></script>
    <script src="./publicJs/jquery-1.12.4.js"></script>
    <script src="./publicJs/axios.js"></script>
    <script src="./publicJs/vue.js"></script>
    <script src="./publicJs/element.js"></script>
    <script src="./addJs/ic_foot.js"></script>
    <script src="./addJs/articale_list.js"></script>
</body>
</html>